/*
  General Definitions
*/

/* Style the section titles */
section {
  .section-title {
    display: inline-block;
    clear: both;
    font-family: 'Six Caps', sans-serif;
    size: 5rem;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      position: relative;
      right: 50%;
      border-bottom: 3px solid #333;
    }
  }
}

/* Global Navigation */
#nav {
	.menu {
	  li {
      margin-top: .75rem; /* Fix for logo top margin */
	    text-transform: uppercase;
	    font-size: 14px;
      text-align: center;

      &.logo {
        margin-top: 0; /* Fix for logo top margin */

        @include breakpoint(medium) {
          text-align: left;
        }

        img {
          height: 2.4em;
        }
      }
      
  	  a {
	      color: #333;
	    }
	  }
	}
}

/*
  Site Sections
*/

/* Home */
.home {
  #main-area {
    background: #f1efef;
    //min-height: 300px;
    align-items: center;
  }

  #work {

  }
}


/* Small only */
@include breakpoint(medium only) {
  #nav {
    .menu {
      li.logo {
        text-align: center;
      }
    }
  }
}