doctype html
html(lang="en", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title zuzanna rajewska
		link(rel="stylesheet", href="styles/main.css")


body.home
	// browsersync
	script(type='text/javascript' id="__bs_script__").
		document.write("<script async src='/browser-sync/browser-sync-client.2.10.0.js'><\/script>".replace("HOST", location.hostname));
	
	nav#nav
		ul.menu.row.full-width
			li.medium-3.columns.logo
				a(href="")
					img(src="images/nav-logo.png")
			li.medium-2.columns: a(href="") design
			li.medium-2.columns: a(href="") music
			li.medium-2.columns.end: a(href="") contact

	header#main-area.row.full-width.jumbotron
		.medium-8.small-centered.columns
			img(src="images/logo-blackcircle.png")
			p Hello, vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.

	section#work.jumbotron.row.full-width
		.columns
			h2.section-title Work

	footer.footer
		p &copy; 2016 Zuzanna Rajewska • Impressum

	// build:js(app) scripts/vendor.js
	// bower:js
	script(src="/bower_components/jquery/dist/jquery.js")
	script(src="/bower_components/what-input/what-input.js")
	script(src="/bower_components/foundation-sites/dist/foundation.js")
	// endbower
	// endbuild

	script(src="scripts/main.js")