doctype html
html(lang="en", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title zuzanna rajewska
		link(rel="stylesheet", href="styles/main.css")


body
	// browsersync
	script(type='text/javascript' id="__bs_script__").
		document.write("<script async src='/browser-sync/browser-sync-client.2.10.0.js'><\/script>".replace("HOST", location.hostname));
	
	nav.header
		.menu-centered
			ul.menu
				li: a(href="") design
				li: a(href="") music
				li: a(href="") contact

	header.jumbotron.main-area.row
		.medium-8.small-centered.columns
			img(src="images/logo-blackcircle.png")
			p Hello, vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.

			h2.section-title Work
	// build:js(app) scripts/vendor.js
	// bower:js
	script(src="/bower_components/jquery/dist/jquery.js")
	script(src="/bower_components/what-input/what-input.js")
	script(src="/bower_components/foundation-sites/dist/foundation.js")
	// endbower
	// endbuild

	script(src="scripts/main.js")